<header>
    
  <nav class="navbar">
    <div class="navbar-brand">
      <a routerLink="/">
        <form class="d-flex input-group w-auto">
          <input
            type="search"
            class="form-control"
            placeholder="Type query"
            aria-label="Search"
          />
          <button class="btn btn-outline-primary" type="button">
            Search
          </button>
        </form>
      </a>
    </div>
    <div class="navbar-links">
      <ul>
        <li><a routerLink="/" class="link">Home</a></li>
        <li><a routerLink="/about" class="link">About</a></li>
        <li><a routerLink="/services" class="link">Services</a></li>
        <li><a routerLink="/contact" class="link">Contact</a></li>
      </ul>
    </div>
  </nav>
  </header>
