<!--<p>contactus works!</p>
<h1>Hello Angular </h1>
<h3>Hello Mohamed</h3>

<!-<label>Your Name: </label>
<input type="text" name="" id="" [disabled]="isDisabled">-->

<!--<h1>
  {{companyName}}
  {{companyAddress}}
  {{companyJobs}}
</h1>-->

<!--<div *ngIf="courses.length > 0; then courseList else noCourses"></div>
  <ng-template #courseList>
    List Of Courses
  </ng-template>
<ng-template #noCourses>
  No Courses
</ng-template>-->

<!--<div [hidden]="courses.length == 0">
  List of Courses
</div>
<div [hidden]="courses.length > 0" >
  No Courses
</div>-->

<!--
<ul class="nav nav-pills">
  <li [class.active] ="viewMode == 'HTML' "><a (click)="viewMode = 'HTML'">HTML Courses</a></li>
  <li [class.active] ="viewMode == 'PHP' "><a (click)="viewMode = 'PHP'">PHP Courses</a></li>
</ul>
<div [ngSwitch]="viewMode">
  <div *ngSwitchCase="'HTML'">Good Courses HTML</div>
  <div *ngSwitchCase="'PHP'">Good Coursess PHP</div>
  <div *ngSwitchDefault>OtheView</div>
</div>-->

<!--<ul>
  <li *ngFor="let course of courses; even as isEven">
    {{ course.name}} <span *ngIf="isEven">(Even)</span>
  </li>
</ul>-->


<!--<button (click)="onAdd()">Add</button>
<ul>
  <li *ngFor="let course of courses">
    {{ course.name }}
    <button (click)="onChange(course)">Change</button>
  </li>
</ul>-->








  







